@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Estonia&display=swap');

$family-primary: 'Comforter Brush', cursive;
$family-secondary: 'Estonia', cursive;

// colors
$background-color: #00B2FF;
$font-color-primary: #ffffff;

