@import '../../../core-styles/variables.scss';

.content-home__text h2 {
  font-size: 60px;
  text-align: center;
}
.content-home__text h5 {
  font-size:30px;
  text-align: center;
}

.form-login {
  font-family: $family-secondary;
}
