<form *ngIf="isNewSchoolClass" class="row g-3">
  <div class="mb-3 input-schoolProject col-6">
    <label class="form-label">Série</label>
    <input type="text" [(ngModel)]="schoolClass.serie" [ngModelOptions]="{standalone: true}" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  <div class="mb-3 input-schoolProject col-6">
    <label class="form-label">Vagas disponiveis</label>
    <input type="number" [(ngModel)]="schoolClass.vagasDisponiveis" [ngModelOptions]="{standalone: true}" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
  </div>

  <div class="footer-buttons">
    <button class="btn btn-primary" (click)="saveNewItem(schoolClass)">Salvar</button>
    <button class="btn btn-secondary" (click)="cancel()">Cancelar</button>
  </div>
</form>

<table class="table table-striped table-responsive">
  <thead>
  <tr>
    <th scope="col">Série</th>
    <th scope="col">Vagas disponiveis</th>
    <th scope="col"><i-bs name="plus-circle-fill" width="25" height="25" (click)="addNewClass()"></i-bs></th>
  </tr>
  </thead>
  <tbody *ngIf="arraySchoolClass.length > 0; else noContent">
  <tr *ngFor="let item of arraySchoolClass">
    <td>
      {{ item.serie }}
    </td>
    <td>
      {{ item.vagasDisponiveis }}
    </td>
    <td></td>
  </tr>
  </tbody>
</table>

<ng-template #noContent>
  <p>Nenhuma turma cadastrada</p>
</ng-template>
