.input-schoolProject {
  display: block;
}
.input-schoolProject input {
  width: 100%;
}

.footer-buttons {
  display: flex;
  justify-content: flex-start;
}

.footer-buttons button {
  margin: 0 5px
}
